<h1>Algolia Container</h1>

<div id="algolia-container">

</div>

{% comment %}
 entry point for algolia collections
{% endcomment %}

{% schema %}
  {
    "name": "Algolia Collection View",
    "class": "algolia-container"
  }
{% endschema %}
